<div id="frontend_header" class="header">
	<div id="titlebar">
		<h2>People Project Prototype</h2>
	</div>
	<div class="navbar">
		<ul>
			<li>
				<%= link_to "Home", root_path %>
			</li>
			<li>
				<%= link_to 'People', people_path %>
			</li>
		</ul>
	</div>
</div>