<div id="frontend_header" class="header">
	<div id="titlebar">
		<span id="user_data">Hello, User | Last access</span>
		<span id="search_bar"></span>
		<span id="admin_quick_links"></span>
	</div>
	<div class="navbar">
		<ul>
			<li>
				<%= link_to "Dashboard", root_path %>
			</li>
			<li>
				<%= link_to 'People', people_path %>
			</li>
		</ul>
		<ul class="user">
		</ul>
	</div>
</div>