<%= render :partial => 'header' %>
<div class="main">
	<div class="grid1">
		<div class="grid_header">
			<h2>Items to be Processed</h2>
		</div>
		<div class="grid_body">
		</div>
	</div>
	<div class="grid2">
		<div class="grid_header">
			<h2>Announcements</h2>
		</div>
		<div class="grid_body">
			
		</div>
	</div>
	<div class="grid3">
		<div class="grid_header">
			<h2>Quick Links</h2>
		</div>
		<div class="grid_body">
		</div>
	</div>
</div>
<div class="footer">
	<p>2012 ARHU Web Services</p>
</div>	