<% # Login page that can be re-used across different pages

%>
<div class="login">
	<div class="login_header">
	</div>
	<div class="login_frame">
		<div class="login_field"></div>
		<div class="login_field"></div>
	</div>
</div>