<div class="header">
	<div class="navbar">
		<ul>
			<li>
				<%= link_to "People Profile Component", people_path %>
			</li>
			<li>
				<%= link_to "Create New Profile", new_people_path %>
			</li>
		</ul>
	</div>
</div>