<div class="header">
	<div class="navbar">
		<ul>
			<li>
				<%= link_to "People Profile Component", people_path %>
			</li>
			<li>
				<%= link_to "Add a Person", new_people_path %>
			</li>
			<li>
				<%= link_to "Funding Periods", new_fundings_path %>
			</li>
		</ul>
	</div>
</div>