<div class="grid1">
	<div class="form">
		<%= render "person" %>
	</div>
</div>
<div class="grid2">
	<div class="form">
		<% @note = Note.new %>
		<%= render :partial => 'notes/note', :locals => { :item_id => @person.id, :item_type => 'Person' } %>
	</div>
</div>