<div class="formtastic_form_users grid1">
	<%= render :partial => 'form' %>
</div>
<div class="grid2">
	<% if @users.blank? == false %>
		<%= foreach @users as :user %>
			
		<% end %>
	<% end %>
</div>