<%= render :partial => 'dashboard/header' %>

<div class="grid1">
	<div class="grid_header">
		<h2>Create New User</h2>
	</div>
	<div class="grid_body">	
		<%= render :partial => 'form' %>
	</div>
</div>