<div class="header">
	<div class="navbar">
		<ul>
			<li>
				<%= link_to "Current Fundings", fundings_path %>
			</li>
			<li>
				<%= link_to "Add", new_fundings_path %>
			</li>
		</ul>
	</div>
</div>