/**
* The following are included as main stylesheets for the entire application.
* 
*= require_self
*= require_tree ./dashboard
* Adding here the dataTables plugin CSS (https://github.com/rweng/jquery-datatables-rails)
*= require dataTables/jquery.dataTables
*/


$body_color: #FFF;
$body_margin: 0;
$main_size: 960px;
$grids_margin: 10px;
$grid_header_height: 32px;

/** CSS styling for 960 grid system **/
body {
	background-color: $body_color;
	margin: $body_margin;
	padding: $body_margin;
}

body .main {
	background-color: #FFF;
	width: $main_size;
	margin-bottom: 10px;
	/** Picking main font for body content **/
	font-family: Helvetica, sans-serif;
}

.grid1, .grid2, .grid3, .grid4, .grid5, .grid6,
.grid7, .grid8 {
	margin-right: $grids_margin;
	margin-left: $grids_margin;
	padding: 0;
	float: left;
	position: relative;
}


.grid_header {
	height: $grid_header_height;
	border-bottom: 1px solid #000;
	font-size: 14px;
}

.grid_body {
	border-right: 1px solid #000;
}

.footer {
	position: relative;
	clear:both;
}