$body_color: #FFF;
$screen_width: 960px;
$header_height: 96px;
$navbar_color: #990033;
$navbar_links_color: transparent;
$navbar_links_active_color: #FFF;
$main_size: 960px;
/**
* Header 
**/
.header {
	background-color: $body_color;
	height: $header_height;
}


.header #titlebar span {
	display: inline
}

.header #titlebar {
	margin-right: 10px;
	margin-left: 20px;
}
.header .navbar {
	position: relative;
	margin-left: 10px;
	margin-right: 10px;
	height: $header_height/3;
	background-color: $navbar_color;
	color: $body_color;
}

.header .navbar ul {
	list-style-type: none;
	padding: .5em;
}

.header .navbar ul li {
	display: inline;
	float: left;
	margin-left: 6px;
	margin-right: 6px;
	background-color: $navbar_links_color;
}

.header .navbar a {
	text-decoration: none;
	color: $body_color;
}

/**
* Main area (Area below navbar)
**/

.main {
	background-color: #FFF;
}

#processing.grid1 {
	width: $main_size/3;
}

#announcements.grid2 {
	width: $main_size/3;
}

#links.grid3 {
	width: $main_size/3;
}