// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$grids_margin: 10px;

/** Overriding grids**/
.grid1 {
	margin-left: $grids_margin * 2;
	margin-right: $grids_margin * 2;
}

.grid2 {
	margin-left: $grids_margin * 3;
	margin-right: $grids_margin * 3;
}

.user {
	padding-left: .5em;
	
}

.user .label {
	float: left;
	margin-left: $grids_margin;
	margin-right: $grids_margin;
	font-weight: bold;
}

.user .user_item {
	display: block;
	margin-left: $grids_margin;
	margin-right: $grids_margin;
}